body {
  background-color: black;
  margin: 0;
  font-family: Arial, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  padding: 5px 15px;
}

.navbar {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1px 20px;
}

.nav-items {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.nav-items li {
  position: relative;
}

.nav-items li a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 14px;
}

.nav-items li a:hover {
  color: rgb(171, 171, 171);
}

.nav-items li a,
cta-btn {
  font-family: "Roboto Mono", monospace;
}

/* Dropdown Menus */
.nav-items li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background: 1a1a3e;
  border-radius: 10px;
  overflow: hidden;
  z-index: 1000;
  padding-top: 20px;
}

.nav-items li ul li a {
  display: block;
  padding: 12px 16px;
  color: #ffffff;
}

.nav-items li ul li a:hover {
  color: rgb(171, 171, 171);
}

.nav-items li.open > ul {
  display: block;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px !important;
  font-variation-settings: "opsz" 12 !important;
  transition: transform 0.3s;
}

.open .arrow {
  transform: rotate(180deg);
}

.logo img {
  transition: transform 0.4s ease;
}

.logo img:hover {
  transform: rotate(90deg);
}
